<div id="<%= dom_id order %>">
  <p>
    <strong>Payment:</strong>
    <%= order.payment_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= order.supplier_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

</div>
