<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Supplier</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to suppliers_path, class: button_class(theme: "transparent") do %>
      All Suppliers
      <% end %>
      <%= link_to edit_supplier_path(@supplier), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Product:</p>
        <p><%= @supplier.product.product_name %></p>
      </li>
      <li>
        <p class="font-semibold">Supplier name:</p>
        <p><%= @supplier.supplier_name %></p>
      </li>
      <li>
        <p class="font-semibold">Supplier phone:</p>
        <p><%= @supplier.supplier_phone %></p>
      </li>
      <li>
        <p class="font-semibold">Supplier address:</p>
        <p><%= @supplier.supplier_address %></p>
      </li>
  </ul>
</div>
